##
## DHCPD Options for iPXE according to http://ipxe.org/howto/dhcpd#ipxe-specific_options
##

allow client-updates;
authoritative;
deny duplicates;

option space ipxe;
option ipxe-encap-opts code 175 = encapsulate ipxe;
option ipxe.priority code 1 = signed integer 8;
option ipxe.keep-san code 8 = unsigned integer 8;
option ipxe.skip-san-boot code 9 = unsigned integer 8;
option ipxe.syslogs code 85 = string;
option ipxe.cert code 91 = string;
option ipxe.privkey code 92 = string;
option ipxe.crosscert code 93 = string;
option ipxe.no-pxedhcp code 1 = unsigned integer 8;
option ipxe.bus-id code 177 = string;
option ipxe.san-filename code 188 = string;
option ipxe.bios-drive code 189 = unsigned integer 8;
option ipxe.username code 190 = string;
option ipxe.password code 191 = string;
option ipxe.reverse-username code 192 = string;
option ipxe.reverse-password code 193 = string;
option ipxe.version code 235 = string;
option iscsi-initiator-iqn code 203 = string;
# Feature indicators
option ipxe.pxeext code 16 = unsigned integer 8;
option ipxe.iscsi code 17 = unsigned integer 8;
option ipxe.aoe code 18 = unsigned integer 8;
option ipxe.http code 19 = unsigned integer 8;
option ipxe.https code 20 = unsigned integer 8;
option ipxe.tftp code 21 = unsigned integer 8;
option ipxe.ftp code 22 = unsigned integer 8;
option ipxe.dns code 23 = unsigned integer 8;
option ipxe.bzimage code 24 = unsigned integer 8;
option ipxe.multiboot code 25 = unsigned integer 8;
option ipxe.slam code 26 = unsigned integer 8;
option ipxe.srp code 27 = unsigned integer 8;
option ipxe.nbi code 32 = unsigned integer 8;
option ipxe.pxe code 33 = unsigned integer 8;
option ipxe.elf code 34 = unsigned integer 8;
option ipxe.comboot code 35 = unsigned integer 8;
option ipxe.efi code 36 = unsigned integer 8;
option ipxe.fcoe code 37 = unsigned integer 8;
option ipxe.vlan code 38 = unsigned integer 8;
option ipxe.menu code 39 = unsigned integer 8;
option ipxe.sdi code 40 = unsigned integer 8;
option ipxe.nfs code 41 = unsigned integer 8;
##
## End of Static Options
##

subnet 192.168.1.0 netmask 255.255.255.0 {
    option routers 192.168.1.254;
    option domain-name-servers 192.168.0.254;
    option domain-name "fluffy";
    option tftp-server-name "192.168.0.254";
    default-lease-time 600;
    max-lease-time 7200;
}

{{range lsdir "/clusters"}}{{- $cluster := . -}}
{{ range lsdir (printf "/clusters/%s/nodes" $cluster) }}{{ $nodetype := .}}
  {{ range lsdir (printf "/clusters/%s/nodes/%s" $cluster $nodetype) }}{{- $node := . -}}
## Host {{$node}} start
host {{$node}} {
   {{- $mac := getv (printf "/clusters/%s/nodes/%s/%s/mac" $cluster $nodetype $node) }}
   hardware ethernet {{ $mac }};
   {{- $ip_address := getv (printf "/clusters/%s/nodes/%s/%s/ip_address" $cluster $nodetype $node) }}
   fixed-address {{ $ip_address }};
   option host-name "{{$node}}";
   if exists user-class and option user-class = "iPXE" {
        {{- $deploy := getv (printf "/clusters/%s/nodes/%s/%s/deploy" $cluster $nodetype $node) -}}
        {{- if or (eq $deploy "redeploy") (eq $deploy "initial") }}
     filename "http://192.168.0.254:8080/boot.ipxe";
        {{- else }}
     filename "http://192.168.0.254:8080/assets/hdd.ipxe";
        {{- end }}
   } else {
     filename "ipxe.pxe";
   }
}
## Host {{$node}} end
        {{ end }}
    {{ end }}
{{ end }}
