---
storage:
  files:
    - path: /etc/my_type
      filesystem: root
      mode: 0555
      contents:
        inline: |
          {{ .content }}
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{.ssh_authorized_key}}
