---
systemd:
  units:
    - name: installer.service
      enable: true
      contents: |
        [Unit]
        Requires=network-online.target
        After=network-online.target
        [Service]
        Type=simple
        ExecStart=/opt/installer
        [Install]
        WantedBy=multi-user.target
storage:
  files:
    - path: /opt/installer
      filesystem: root
      mode: 0500
      contents:
        inline: |
          #!/bin/bash -eux
          # Block until host got hostname via dhcp
          # network-online.target is not sufficient
          # for that
          until [[ "$(hostname)" != 'localhost' ]]; do sleep 1; done

          ETCDCTL_API=2 etcdctl \
            --endpoints={{.cmdb_url}} \
            --username={{.cmdb_user}}:{{.cmdb_password}} \
            set /nodes/$(hostname)/deploy deployed

          curl --retry 10 "{{.ignition_endpoint}}?{{.request.raw_query}}&os=installed" -o ignition.json
          coreos-install \
            -d /dev/sda \
            -C stable \
            -V {{.container_linux_version}} \
            {{.baseurl_flag}} \
            -i ignition.json
          udevadm settle
          systemctl reboot
passwd:
  users:
    - name: core
      ssh_authorized_keys:
        - {{.ssh_authorized_key}}
